.MultiStepForm {
    text-align: center;
    margin-bottom: 50px;
}

.MultiStepForm h2 {
    color: #787878 !important;
    text-align: left;
    margin-bottom: 15px;
}

.multistep-form form h2 {
    color: #000 !important;
    font-size: 14px !important;
    text-align: left;
    margin-top: 15px;
}

.commonbtn {
    display: inline-block;
    width: 210px;
    background-color: #99CC00;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    /* Adjust as needed to leave some space between buttons on desktop and tablet */
    margin: 10px;
    color: #fff;
    text-align: center;
    height: 135px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    /* Adjust the height as needed */
    /* Adjust the font weight as needed */
}

.dotted-line {
    display: flex;
    font-size: 0;
    /* To remove white space between inline-block elements */
}

.dotted-line span {
    display: inline-block;
    border-bottom: 15px solid #d9d9d9;
    width: 61px;
    margin-right: 6px;
    border-radius: 33px;
}

.dotted-line span.completed {
    border-bottom-color: #99CC00;
}


/* Media query for screens smaller than 768px (typical tablet size) */

@media (max-width: 768px) {
    .commonbtn {
        display: inline-block;
        width: 45%;
        margin: 1% 1%;
        font-size: 12px;
        height: 115px
    }
}

@media (max-width: 480px) {
    .commonbtn {
        display: inline-block;
        width: 45%;
        margin: 1% 1%;
        font-size: 12px;
        height: 115px
    }
}

.error-message {
    color: red;
}

.backbtn {
    background: #d9d9d9;
    padding: 10px;
    width: 100px;
    margin: 5px;
    color: #99CC00;
    transition: all 0.5s;
    cursor: pointer;
    /* border: 1px solid #000; */
    border-radius: 24px;
    text-align: center;
    float: right;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nextbtn {
    background: #d9d9d9;
    padding: 10px;
    width: 100px;
    margin: 5px;
    color: #99CC00;
    transition: all 0.5s;
    cursor: pointer;
    /* border: 1px solid #000; */
    border-radius: 24px;
    text-align: center;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}